{% extends 'core/base.html' %}
{% load static %}
{% block title %}Perfiles{% endblock %}
{% block content %}
<style>.profile-avatar{float:left;width:4rem;height:4rem}.profile-data{padding-left:4.5rem;padding-top:.4rem;}
  
</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <h2>Perfiles</h2>
        <div class="row">
          {% for profile in profile_list %}
            <div style="margin-bottom: 20px;" class="card col-md-3">
            <div class="col-md-4 mt-2 mb-3 ">
              <div class="row p-1">
                <div class="col-md-6">
                <div class="box">
              </div>
            </div>
              <div class="img">
                  {% if profile.avatar %}
                    <img src="{{profile.avatar.url}}" class="img-fluid profile-avatar">
                  {% else %}
                    <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-fluid profile-avatar">
                  {% endif %}
                 
                </div>
                </div>
              </div>
              <div>
                <span>
                <h2>{{profile.user|truncatechars:"16"}}</h2>
                <a href="{% url 'profiles:detail' profile.user %}">Ver perfil</a>
                </span>
                </div>
            </div>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
          {% endfor %}
          <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </div>
        <!-- Menú de paginación -->
        {% if is_paginated %}
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
              <li class="page-item ">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">&laquo;</a>
              </li>
            {% endif %}
            {% for i in paginator.page_range %}
              <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
              </li>
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item ">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">&raquo;</a>
              </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}
        {% if not request.user.is_staff %}
          <div>
          </div>
        {% else %}
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Reporte Usuarios
          </button>
          <div class="modal fade modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reporte Usuarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" >
            <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                    

                    <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Avatar</th>
                        <th>Nombre</th>
                        <th>Biografia</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in profile_list %}
                    <tr class="gradeX">
                        <td>
                        {% if profile.avatar %}
                          <img src="{{profile.avatar.url}}" class="img-fluid profile-avatar">
                        {% else %}
                          <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-fluid profile-avatar">
                        {% endif %}</td>
                        <td>{{profile.user}}</td>
                        <td>{{profile.bio}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    </tfoot>
                    </table>
                    </div>

                    </div>
              </div>
              <div class="modal-footer">

                </div>
              </div>
            </div>
          </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
