{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container">
  <div style="padding-top:50px; text-align:center;">
    <h1>Bienvenido!</h1>
    <p class="lead">
      <img src="https://www.researchgate.net/profile/Ivana_Bianchi/publication/270795735/figure/fig7/AS:295022500040704@1447350253168/Rene-Magritte-La-reproduction-interdite-adapted-from-collection-2939-28mk29-and.png">
      <div style="margin: 100px; text-align: justify; text-justify: inter-word">
      NACHO VEGAS es a día de hoy uno de los artistas más consolidados y respetados de nuestro país. En los escenarios desde los años noventa con grupos como Eliminator Jr o Manta Ray, comenzó su carrera en solitario en 2001 con el sello independiente madrileño Limbo Starr mientras paralelamente formaba el grupo Lucas 15 con otros músicos asturianos. Con este sello publicó su primer disco en solitario Actos inexplicables (2001).

Desde que comenzó su trayectoria en solitario, Nacho Vegas ha publicado varios discos y EPs, y también ha hecho destacadas colaboraciones como El tiempo de las cerezas con Enrique Bunbury (2006) o Verano Fatal (2007) con Christina Rosenvinge.

En 2010 se lanzó a la aventura de la autoedición dando vida a Marxophone, una plataforma de autoedición discográfica con el que ha editado el resto de sus trabajos hasta el momento. Bajo esta etiqueta vio la luz en 2011 La Zona Sucia, un trabajo que fue reconocido como el ‘Mejor Álbum del Año’ en los Premios de la Música Independiente. A este trabajo le seguirá, en noviembre del mismo año, el mini-álbum Cómo hacer crac (2011). Fue entonces cuando la música de Nacho Vegas fue cogiendo otro rumbo, sobre todo en la letras, que a partir de aquí se abrazarán a una temática más política y social, algo que se consolidó en el disco Resituación (2014) y en el EP que le seguía, Canciones Populistas (2015).

El pasado mes de junio, Nacho Vegas editó ‘Violética’ (Marxophone, 2018. Violética (Marxophone, 2018) un disco doble de Nacho Vegas con Edu Baos, Abraham Boba, Manu Molina, Joseba Irazoki, Luis Rodríguez y César Verdú. Fue grabado por Paco Loco en su estudio de El Puerto de Santa María, con grabaciones adicionales en el Estudio Fase 4 de Xixón por Carlos Stro y en El Cariño de Mozota por Edu Baos. La mezcla la ha realizado César Verdú y el master Víctor García en Ultramarinos Mastering (Barcelona). El álbum coniene 18 temas y cuenta con diversas colaboraciones entre las que destacan las del Coru Antifascista Al Altu La Lleva, Cristina Martínez (El Columpio Asesino), Christina Rosenvinge o Maria Rodés.
      </div>
    </p>
  </div>
</div>
{% endblock %}